{% load static %}

<!DOCTYPE html>
<html lang="ru">
<link>
    <meta charset="UTF-8">
<head>
    <title>Проверка звонков</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>body {
    background: #B9D4D4
    }
</style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"> Проверка звонков</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="navbar-nav">О нас</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">


    {% block success %}{% endblock %}
    {% block upload %}{% endblock %}
    {% block details %}{% endblock %}
    {% block error %}{% endblock %}
</div>

</body>
</html>